body{
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	margin: 0;
	color: #333;
	background: #fff;
	line-height: 23px;
}

*, *::after, *::before{
	box-sizing: border-box;
}

.container{
	max-width: 1410px;
	margin: 0 auto;
	padding: 0 15px;
}

.clearfix::after{
	content: "";
	display: table;
	clear: both;
}